.shopping-cart-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shopping-cart-container {
  height: auto;
  width: 60rem;
  background: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.shopping-cart-header {
  height: 4rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid gray;
  margin: 2rem 6rem;
}

.totalprice {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.shopping-cart-header h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.product-img {
  height: auto;
  width: 100px;
  object-fit: contain;
}

.cart-icons {
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icons:hover {
  transform: scale(1.1);
  color: rgb(53, 52, 52);
}

.shopping-cart-item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
  text-transform: uppercase;
}

.shopping-cart-container li {
  list-style: none;
  font-size: 1rem;
}

.product-info-title {
  width: 40%;
  display: flex;
  align-items: center;
}

.product-info {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}

.productCard {
  display: flex;
  margin-top: 5rem;
}

.price {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .shopping-cart-container {
    width: 50rem;
  }
    .shopping-cart-item {
    font-size: 0.1rem;
    margin-left: 2rem !important;
    margin-right: 0.1rem !important;
  }
}

@media (max-width: 850px) {
  .shopping-cart-container {
    width: 40rem;
  }
  li{
    font-size: 0.8rem !important;
  }
  .shopping-cart-item {
    font-size: 0.1rem;
    margin-left: 2rem !important;
    margin-right: 0.1rem !important;
  }
}

@media (max-width: 680px) {
  .shopping-cart-container {
    width: 33rem;
  }

  .shopping-cart-item {
    font-size: 0.1rem;
    margin-left: 2rem !important;
    margin-right: 0.1rem !important;
  }
}

@media (max-width: 570px) {
  .shopping-cart-container {
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-icons-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .shopping-cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
  }
  .product-img {
    margin-bottom: 1.5rem;
  }

  li {
    margin-bottom: 1rem;
  }

  .product-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 450px) {
  .shopping-cart-container {
width: 20rem;
  }
}

@media (max-width: 390px) {
  .shopping-cart-container {
    width: 17rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  li{
    font-size: 0.8rem !important;
    margin-right: 1rem;
    margin-left: 1rem;
  }

.product-info-title {
 margin: 0 !important;
 padding: 0 !important;
}

.totalprice{
justify-content: center !important;
align-items: center;
  display: flex;
}
}
