.main {
  background-color: #354f6b;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1300px) {
  .main {
    flex-direction: column;
    height: auto;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
}
