.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cart-icon-container {
position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
    padding: .1rem;
    color: #4D5264;
}

.cart-icon{
  
  font-size: 2rem; 
  
    
}

.cart-icon-container:hover{
  color: rgb(213, 213, 213);
}

@media (max-width: 1300px) {
  .main {
    flex-direction: row;
    height: auto;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
} 

.main-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3rem;
background: rgb(252,238,150);
background: radial-gradient(circle, rgba(252,238,150,1) 19%, rgba(126,182,215,1) 100%);

}

@media (max-width: 540px) {
  .main-container{
    display:flex;
    align-items: center;
    flex-direction: column;
}
}