main {
  padding-top: 3rem;
}

.main-container {
  min-height: calc(100vh - 11rem);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  background: #313638;
}

@media (max-width: 540px) {
  .main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
