.product-title {
  font-size: 1rem;
  margin: 1rem;
  color: #151515;
}

.icon {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  text-shadow: 0 0 0.1rem black;
  font-size: 4rem;
  color: #e8e9eb;
  font-weight: bold;
  cursor: pointer;
}

.davidStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: #ececec;
  border-radius: 0.5rem;
  width: 600px;
}

.img {
  position: relative;
  width: 25rem;
  height: 25rem;
  object-fit: contain;
  /* border: 1rem ridge rgba(202, 138, 68, 0.33); */
  margin: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-container {
  background: transparent;
  margin: auto;
  padding: 15px 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem 0;
  animation: bounce 1s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.add-to-cart {
  margin: 0.5rem 0rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: #313638;
  color: #e8e9eb;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.add-to-cart:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
}

.card-price {
  display: inline-block;

  width: auto;
  height: 38px;

  background-color: #313638;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;

  border-left: 1px solid #313638;

  margin-left: 19px;

  position: relative;

  color: #e8e9eb;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;

  padding: 0 10px 0 10px;
}

.card-price:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #313638;
}

.card-price:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}

@media (max-width: 630px) {
  .davidStyle {
    max-width: 500px;
  }

  .product-container {
    max-width: 500px;
    align-items: center;
  }

  .img {
    width: calc(100% - 2rem);
  }
}

@media (max-width: 540px) {
  .davidStyle {
    max-width: 300px;
  }

  .product-container {
    max-width: 400px;
    padding: 0;
  }

  .img {
    width: calc(100% - 2rem);
    margin: 1rem 0;
  }
}

@media (max-width: 340px) {
  .product-container {
    max-width: 350px;
  }

  .davidStyle {
    max-width: 250px;
  }
}
