.icon{
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  text-shadow: 0 0 0.1rem black;
  font-size: 4rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.davidStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .2rem;
    background-color: beige;
    border-radius: .5rem;
    width: 600px;
} 


.img {
  position: relative;
  height: 300px;
 object-fit: cover;
  width: 25rem;
  border: 1rem ridge rgba(202,138,68,0.33);;
  /* border: 50px solid transparent;
  border-image-source: url(https://s-media-cache-ak0.pinimg.com/236x/62/4a/b7/624ab7b6fc84f5079237532406ce388f.jpg);
  border-image-slice: 46 49;
  border-image-repeat: round; */
}

.product-container{
        /* border: 1px solid #ccc; */
        background: #eee;
        margin: auto;
        padding: 15px 10px;
        display: flex;
        width: 600px;
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-to-cart {
  margin: 0 1rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: #43962A;
  color: white;
  cursor: pointer;
    border-radius: .2rem;

  transition: all 0.2s ease-in-out;
}

.add-to-cart:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
}

.info-icon {
  margin: 0 1rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: #72A7CF;
  color: white;
  cursor: pointer;
  border-radius: .2rem;
  transition: all 0.2s ease-in-out;
}

.info-icon:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
}

@media (max-width: 610px) {
  .davidStyle {
    max-width: 500px;
  }

  .product-container {
    max-width: 500px;
    display: block;
    align-items: center;
  }

  .info-icon, .add-to-cart {
    margin: 1rem 0;
    
  }

  .img {
    width: calc(100% - 2rem);
  }

  .icons-container {
  flex-direction: unset;
  justify-content: space-between;

  

}
}

@media (max-width: 540px) {
  .davidStyle {
    max-width: 300px;
  }

  .product-container {
    max-width: 400px;
  }

  .img {
    width: calc(100% - 2rem);
  }

}