.product-title {
  font-size: 1rem;
  margin: 1rem;
}

.icon {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  text-shadow: 0 0 0.1rem black;
  font-size: 4rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.davidStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: beige;
  border-radius: 0.5rem;
  width: 600px;
}

.img {
  position: relative;
  width: 25rem;
  height: 25rem;
  object-fit: contain;
  /* border: 1rem ridge rgba(202, 138, 68, 0.33); */
  margin: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* border: 50px solid transparent;
  border-image-source: url(https://s-media-cache-ak0.pinimg.com/236x/62/4a/b7/624ab7b6fc84f5079237532406ce388f.jpg);
  border-image-slice: 46 49;
  border-image-repeat: round; */
}

.product-container {
  background: transparent;
  margin: auto;
  padding: 15px 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  width: 20rem;
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.add-to-cart {
  margin: 0 1rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: #43962a;
  color: white;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.add-to-cart:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
}

.info-icon {
  margin: 0 1rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: #72a7cf;
  color: white;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.info-icon:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
}

.card-price {
  display: inline-block;

  width: auto;
  height: 38px;

  background-color: #6ab070;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;

  border-left: 1px solid #6ab070;

  /* This makes room for the triangle */
  margin-left: 19px;

  position: relative;

  color: white;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;

  padding: 0 10px 0 10px;
}

/* Makes the triangle */
.card-price:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #6ab070;
}

/* Makes the circle */
.card-price:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}

@media (max-width: 610px) {
  .davidStyle {
    max-width: 500px;
  }

  .product-container {
    max-width: 500px;
    display: block;
    align-items: center;
  }

  .info-icon,
  .add-to-cart {
    margin: 1rem;
  }

  .img {
    width: calc(100% - 2rem);
  }

  .icons-container {
    flex-direction: unset;
    justify-content: space-between;
  }
}

@media (max-width: 540px) {
  .davidStyle {
    max-width: 300px;
  }

  .product-container {
    max-width: 400px;
  }

  .img {
    width: calc(100% - 2rem);
  }
}
