.shopping-cart-main{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shopping-cart-container{
    height: 40rem;
    width: 60rem;
    background: white;
display: flex;
flex-direction: column;
    margin-bottom: 6rem;
}

.shopping-cart-header{
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: .1rem solid gray;
    margin: 2rem 6rem;
}

.shopping-cart-header h1{
    font-size: 1.5rem;
    text-transform: uppercase;
}


.shopping-cart-item{
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
    text-transform: uppercase;
    
}

.shopping-cart-container li{
        list-style: none;
        font-size:1rem;
}

.product-info-title{
    width: 40%;


}

.product-info{
    display: flex;
    width: 60%;
    justify-content: space-around;

}

.productCard {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}